.containerProduct{
    min-width: 282px;
    width: 282px;
    height: 454px;
    height: 514px;
    /* background-color: magenta; */
    cursor: pointer;
}

.productImgContainer{
    width: 100%;
    height: 75%;
    position: relative;
}
.productDescContainer{
    width: 100%;
    height: 25%;
    /* background-color: magenta; */
    overflow: hidden;
}
.productImgContainer:hover > .productHover{
    opacity: 1;
    visibility: visible;
}
.productHover{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #0a263873; */
    transition: all 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    z-index: 200;
}

 
.bestSeller{
    position:absolute;
    top: 0;
    width: 124px;
    height: 29px;
    font-size: 20px;
    /* padding: 1rem 1.5rem 1rem 1.5rem; */
    background-color: var(--BackgroundColorPrimary);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* ProductList */
.containerList{
    /* background-color: aqua; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .containerListGrid{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /* gap: 1rem 0rem 1rem 0rem; */
    /* gap: 1rem; */
    row-gap: 2rem;
   }
   .paginationStyles{
       /* background-color: aqua; */
       height: 4rem;
   }