.containerFiltering{
    /* background-color: steelblue; */
    max-width: 208px;
    width: auto;
}
.checkbox{
    padding-top: 1rem;
    min-width: 200px;
    cursor: pointer;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    /* background-color: brown; */
    
    border: 2px solid var(--textColorPrimary);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"]::after{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    content: "✔";
    font-size: 15px;
    
    color: var(--textColorPrimary);
    display: none;

}
input[type="checkbox"]:hover{
    background-color: var(--textColorSecondary);
    transition: .3s ease-in-out;
    
}
input[type="checkbox"]:checked{
    background-color: var(--BackgroundColorPrimary);
}
input[type="checkbox"]:checked::after{
    display: block;
}
/* ✓✔ */

input[type="radio"]{
    appearance: none;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    /* background-color: brown; */
    
    border: 2px solid var(--textColorPrimary);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="radio"]::after{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    content: "✔";
    font-size: 15px;
    
    color: var(--textColorPrimary);
    display: none;

}
input[type="radio"]:hover{
    background-color: var(--textColorSecondary);
    transition: .3s ease-in-out;
    
}
input[type="radio"]:checked{
    background-color: var(--BackgroundColorPrimary);
}
input[type="radio"]:checked::after{
    display: block;
}




.filteringWindow{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 300;
    /* display: none; */
    visibility: hidden;
}
.filteringWindowACTIVE{
    /* display: block; */
    visibility: visible;
    transition: .7s ease-in-out;

}
.filteringBack{
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 300;  
}


.FilteringWindowContainer{
    position: absolute;
    bottom: -100%;
    background-color: var(--BackgroundColorPrimary);
    /* background-color: rgb(209, 39, 39); */
    height: 90%;
    z-index: 400;
    overflow: hidden;
    transition: .7s ease-in-out;
}
.FilteringWindowContainerACTIVE{
    bottom: 0%;
}
.FilteringContainerSettings{
    /* background-color: aqua; */
    /* padding: 2rem; */
    width: 100%;
    height: 85%;
    padding: 1.5rem;
    position: absolute;
}
.filteringSettings{
    /* border: 2px solid #000; */
    height: 100%;
    overflow: scroll;
}
.filteringSettings::-webkit-scrollbar {
    -webkit-appearance: none;
}

.filteringSettings::-webkit-scrollbar:vertical {
    width:5px;
}

.filteringSettings::-webkit-scrollbar-thumb {
    background-color: var(--BackgroundColorSecondary);
    border-radius: 30px;
}
.filteringButtonsContainer{    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    border-top: 4px solid var(--BackgroundColorThird);
    /* bottom: 0; */
    /* background-color: var(--BackgroundColorPrimary); */
}